.Dashboard-Container{
    font-family: "Arial, sans-serif";
}
.Dashboard-header-text {
  color: #4f3267;
  font-size: 35px;
  text-align: center;
}

.Dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 20px;
}